body {
    font-family: 'Poppins', sans-serif;
}

/* nav part starts here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 20px;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
}

nav li {
    list-style: none;
}

.nav-head {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 700;
}

.list {
    display: flex;
    gap: 20px;
    font-size: .7rem;
    font-weight: 600;
}
/* banner part starts here */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}
.banner-description{
    padding-left: 60px;
}
.banner-head{
    color: #3A3A3A;
font-size: 2rem;
font-weight: 700;
}
.banner-pera{
    color: #3A3A3A;
font-size:.8rem;
font-weight: 600;
}
.btn-primary{
    border-radius: 41px;
background: #E02C6D;
color: #FFF;
font-size: .8rem;
font-weight: 700;
padding:5px 16px;
border: 0px;
}
.banner-pic{

    margin-left: 100px;
}
.camera{
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
/* logo part starts here */
.logo-section{
   margin-top: 100px;
}
.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 25px;
    border: 1px dotted grey;
    border-radius: 5px;
}

/* responsive media query */
@media  screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .logo-container{
        flex-wrap: wrap;
        /* width: 79%; */
        gap: 9px;
        justify-content: space-around;
    }
    .logo-section{
        align-items: center;
        justify-content: center;

    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .logo-container{
        flex-wrap: wrap;
        width: 79%;
        gap: 9px;
        justify-content: space-around;
        align-items: center;
    }
}